<nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <a class="navbar-brand ml-3" href="/djangoapp/this">Best Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_bar"
            aria-controls="nav_bar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav_bar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mr-3">
                <a class="nav-link" href="#">Example<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#">Example</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#">Example</a>
            </li>
        </ul>
    </div>
</nav>