<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'djangoapp/partials/head.html' %}
</head>
    <body>
        {% include 'djangoapp/partials/nav.html' %}
        <div class="container text-center mt-5 mb-5 bg-light p-4">
            <h3>{{ name }}</h3>
        </div>
        <div class="container review" style="max-width:600px;">
            <h3 class="mb-4">Add Review</h3>
            <form action="register" method="post">
                <div class="form-group">
                    <label for="car-make">Car make</label>
                    <select class="form-control" id="first-dropdown" onchange="updateSecondDropdown()" name="car_make" required>
                        <option value="" disabled selected>Select car make</option>
                        <option value="audi">Audi</option>
                        <option value="bmw">BMW</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="honda">Honda</option>
                        <option value="wolkswagen">Wolkswagen</option>
                        <option value="tesla">Tesla</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="car-model">Car model</label>
                    <select class="form-control" id="second-dropdown" name="car_model" required>
                        <option value="" disabled selected>Select car model</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="car-year">Car year</label>
                    <input class="form-control" type="number" min="2000" max="2024" step="1" name="car_year" required>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="check" onchange="updateDate()" checked>
                    <label class="form-check-label" for="check">
                        Purchased
                    </label>
                </div>
                <div class="form-group">
                    <label for="purchase_date">Purchase date</label>
                    <input id="purchaseD" class="form-control" type="date" name="purchase_date">
                </div>
                <div class="form-group">
                    <label for="review">Your review:</label>
                    <textarea id="review" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3 mb-5">Submit</button>
            </form>
        </div>

        <script>

            function updateDate() {
                var purchased = document.getElementById("check");
                var date = document.getElementById("purchaseD");

                if(purchased.checked) {
                    date.disabled = false;
                    date.required = true;
                }
                else {
                    date.disabled = true;
                    date.required = false;
                }
            }

            function updateSecondDropdown() {
                var selected = document.getElementById("first-dropdown").value;
                var secondDropdown = document.getElementById("second-dropdown");
                clearDropdown(secondDropdown);

                switch(selected) {
                    case "audi":
                        const audiModels = ["A3", "A4", "A5", "A8", "Q3", "Q5", "TT"];
                        addOptions(secondDropdown, audiModels)
                        break;
                    case "mercedes":
                        const mercedesModels = ["A-Class", "C-Class", "E-Class", "S-Class",
                                        "GLA", "GLC", "GLE"];
                        addOptions(secondDropdown, mercedesModels)
                        break;
                    case "bmw":
                        const bmwModels = ["1 Series", "2 Series", "3 Series", "4 Series",
                                        "5 Series", "X3", "X5"];
                        addOptions(secondDropdown, bmwModels)
                        break;
                    case "tesla":
                        const teslaModels = ["Model S", "Model 3", "Model X", "Model Y", "Roadster", 
                                        "Cybertruck", "Semi"];
                        addOptions(secondDropdown, teslaModels)
                        break;
                    case "honda":
                        const hondaModels = ["Accord", "Civic", "CR-V", "HR-V", "Pilot"]
                        addOptions(secondDropdown, hondaModels)
                        break;
                    case "wolkswagen":
                        const wolkswagenModels = ["Golf", "Passat", "Jetta", "Tiguan", "Atlas", "Arteon"];
                        addOptions(secondDropdown, wolkswagenModels)
                        break;
                    default:
                        break;
                }
            }

            function addOptions(menu, models) {
                for(const model of models) {
                    option = document.createElement('option');
                    option.value = model.toLowerCase();
                    option.innerHTML = model;
                    menu.appendChild(option);
                }
            }

            function clearDropdown(menu) {
                menu.innerHTML = "";
                var opt = document.createElement('option');
                opt.disabled = true;
                opt.selected = true;
                opt.value = "";
                opt.innerHTML = "Select car model"
                menu.appendChild(opt)
            }
        </script>
    </body>
</html>