<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .ad-container {
            
        }
    </style>

    {% include 'djangoapp/partials/head.html' %}
</head>
<body>
    {% include 'djangoapp/partials/nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col mt-5 border ad-container">
                <address class="ml-3 mt-5">
                    <strong>Example Inc.</strong><br>
                    1234 Example Street<br>
                    Antartica, Example 0987<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                  
                <address class="ml-3 mb-5">
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">exam.ple@example.com</a>
                </address>
            </div>
        </div>
    </div>
</body>

</html>