<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'djangoapp/partials/head.html' %}
        <style>
            img {
                width: 25px;
                height: 25px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    {% include 'djangoapp/partials/nav.html' %}
    <body>
        <div class="container text-center mt-5 mb-5 bg-light p-4">
            <h2>{{dealership.full_name}}</h2>
            <h6>{{dealership.address}}, {{dealership.city}} {{dealership.st}}, {{dealership.zip}}</h6>
        </div>

        {% if reviews %}
        <div class="container mb-3">
            {% if user.is_authenticated %}
            <button type="button" class="add-review btn btn-outline-secondary mb-5">Add Review</button>
            {% endif %}
            <div class="row">
            {% for review in reviews %}
                <div class="col-sm-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            {% if review.sentiment == "positive" %}
                            <img src="/media/emoji/positive.png" alt="Card image cap">
                            {% elif review.sentiment == "neutral" %}
                            <img src="/media/emoji/neutral.png" alt="Card image cap">
                            {% else %}
                            <img src="/media/emoji/negative.png" alt="Card image cap">
                            {% endif %}
                            <h5 class="card-title">{{review.car_make}} - {{review.car_model}}</h5>
                            <p class="card-text">{{review.review}}</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Posted by {{review.name}}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
        {% if user.is_authenticated %}
        <div class="container mb-3">
            <button type="button" class="add-review btn btn-outline-secondary mb-5">Add Review</button>
        </div>
        {% endif %}
        {% endif %}
        
        <script>
            document.getElementsByClassName("add-review")[0].addEventListener("click", function() {
                window.location.href = '/djangoapp/'
            });
        </script>
    </body>
</html>