<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'djangoapp/partials/head.html' %}
</head>
<body>
    {% include 'djangoapp/partials/nav.html' %}
</body>
<table class="table" id="table">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            ...
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealerships %}
            <tr>
                <td>{{dealer.address}}</td>
                ...
            </tr>
        {% endfor %}
    </tbody>
</table>    

</html>
